<div class="wrapper">

<!-- sidebar -->
<app-sidebar class="navSetting" [sideBarData]="sideBarData"></app-sidebar>

<div class="content-wrapper">
    <!-- Header -->
    <app-header></app-header>

    <!-- Main Content -->
    <div>
    <!-- Breadcrumbs Section -->
    <section class="section is-title-bar" style="border-bottom: none;">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <ul>
                        <li>Admin</li>
                        <li class="is-capitalized has-text-weight-bold">{{title}}</li>
                    </ul>
                </div>
            </div>
            <!-- <div class="level-right">test</div> -->
        </div>
    </section>

    <!-- Display content -->
    <router-outlet></router-outlet>
    <app-toast></app-toast>
    </div>
</div>
</div>

<router-outlet name='kiosk'></router-outlet>