<section class="is-main" [formGroup]="newRig">
    <div class="field">
        <label class="label">Rig Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" formControlName="name">
        </div>
      </div>

      <div class="field">
        <label class="label">Rig Location</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" formControlName="location">
        </div>
      </div>
</section>