<div class="hero is-fullheight is-dark">
    <div class="hero-body">
        <div class="container has-text-centered">

            <div class="level">
                <div class="level-left">
                    <div class="level-item title is-size-1">
                        Location
                    </div>
                    <div class="level-item subtitle">
                        - Device Name
                    </div>
                </div>

                <div class="level-right">
                    <div class="level-item is-size-2">
                        {{time | date:'mediumTime'}}
                    </div>
                </div>
            </div>

            <div class="columns ">

<div class="column is-8" style="margin-top: auto; margin-bottom: auto;">
    <div class="box has-background-success has-text-white">
        <div>
            <i class="fad fa-spinner-third" style="font-size: 300px;"></i>
        </div>
        <div>
            <h3 class="title">Measure</h3>
            <p class="subtitle">UOM</p>
        </div>
    </div>
</div>

<div class="column is-size-5">
    <div class="level box">
        <div class="level-left">
            <div class="level-item">
                <div style="width: 25px; height: 25px; border-radius: 50%;" class="has-background-success"></div>
            </div>

            <div class="level-item">Measure</div>
        </div>

        <div class="level-right">
            <div class="level-item">
                Value
            </div>
        </div>
    </div>

    <div class="level box">
        <div class="level-left">
            <div class="level-item">
                <div style="width: 25px; height: 25px; border-radius: 50%;" class="has-background-success"></div>
            </div>

            <div class="level-item">Measure</div>
        </div>

        <div class="level-right">
            <div class="level-item">
                Value
            </div>
        </div>
    </div>

    <div class="level box">
        <div class="level-left">
            <div class="level-item">
                <div style="width: 25px; height: 25px; border-radius: 50%;" class="has-background-warning"></div>
            </div>

            <div class="level-item">Measure</div>
        </div>

        <div class="level-right">
            <div class="level-item">
                Value
            </div>
        </div>
    </div>

    <div class="level box">
        <div class="level-left">
            <div class="level-item">
                <div style="width: 25px; height: 25px; border-radius: 50%;" class="has-background-success"></div>
            </div>

            <div class="level-item">Measure</div>
        </div>

        <div class="level-right">
            <div class="level-item">
                Value
            </div>
        </div>
    </div>

    <div class="level box">
        <div class="level-left">
            <div class="level-item">
                <div style="width: 25px; height: 25px; border-radius: 50%;" class="has-background-danger"></div>
            </div>

            <div class="level-item">Measure</div>
        </div>

        <div class="level-right">
            <div class="level-item">
                Value
            </div>
        </div>
    </div>

    <div class="level box">
        <div class="level-left">
            <div class="level-item">
                <div style="width: 25px; height: 25px; border-radius: 50%;" class="has-background-success"></div>
            </div>

            <div class="level-item">Measure</div>
        </div>

        <div class="level-right">
            <div class="level-item">
                Value
            </div>
        </div>
    </div>
</div>

</div>

        
        </div>
    </div>
</div>