<section class="hero is-hero-bar is-main-hero has-background-primary">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <!-- Avatar image -->
          <!-- <div class="level-item is-hero-avatar-item">
            <div class="image is-user-avatar">
              <img
                src="https://avatars.dicebear.com/api/avataaars/alex.svg?options[top][]=shortHair&amp;options[accessoriesChance]=93"
              />
            </div>
          </div> -->
  
          <!-- Hero Content -->
          <div class="level-item is-hero-content-item">
<ng-content></ng-content>
          </div>
        </div>
  
        <div class="level-right">
            <div class="level-item">
  
              <!-- TODO: Replace with button component -->
                <div class="button is-light">
                    <span class="icon"><i class="fad fa-user-cog"></i></span>
                    <span>Manage Profile</span>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>